<!DOCTYPE html>
<html>

<head>
    <title>RCG - ONGym</title>
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <link rel = "icon" href = "public/assets/images/logo1.jpg" type = "image/jpg">
</head>
 
<body>
    <a href='http://localhost:8888/main'>j</a>
</body>

</html>
