<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>RCG - Chọn mức độ</title>
<!-- thay đổi ảnh -->
<link rel = "icon" href="assets/images/logo1.jpg" type = "image/jpg">
<link rel="stylesheet" type="text/css" href="css/index.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
	<header>
	<div class="container-fluid">
		
		<!-- Navigation -->
	 	<div class="navbar top-navbar fixed-top row"> 
	 		<div class="row">
				<!-- Logo here -->
	 			<div class="col-lg-3">
	 				<!-- Code logo đổi nhau -->
					<div class="logo">
						<img src="assets/images/Logo/logo1.png" width="80" height="60" alt="Lg dưới">
						<img src="assets/images/Logo/logoT.jpg" width="80" height="60" class="img-top" alt="Lg trên">
					</div>
					
					<!-- Code logo trang chủ -->
					<div class="logo_index">
						<a href="http://localhost:8888"><img src="assets/images/Logo/logoBTC.png" width="140" height="40" alt="Lg trang chủ"></a>
					</div>
	 			</div>
	 		<div class="col-lg-9">
	 			<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container-fluid">
				
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul id="font-size" class="navbar-nav me-auto mb-2 mb-lg-0">
								
								<li class="nav-item">
									<a class="nav-link active" aria-current="page" href="http://localhost:8888">Trang chủ</a>
								</li>
								
								<li class="nav-item">
									<a class="nav-link active" aria-current="page" href="http://localhost:8888/aboutus">Về chúng tôi</a>
								</li>
 							
								<li class="nav-item">
									<a class="nav-link active" aria-current="page" href="http://localhost:8888/warmup">Khởi động</a>
								</li>
								
								<li class="nav-item">
									<a class="nav-link active" aria-current="page" href="http://localhost:8888/main">Tập luyện</a>
								</li>

							</ul>

							<form class="d-flex">
								<input class="form-control me-2" type="search" placeholder="Tìm kiếm" aria-label="Search">
								<button class="btn btn-outline-success" type="submit">Tìm</button>
							</form>
						</div>
					</div>
					</nav>
	 			</div>
	 		</div>	
		</div>	 
	</div>
</header>
	
	
</body>
</html>
